# Секретный ключ
SECRET_KEY = 'добавьте ваш секретный ключ'

# инициализация в PostgreSQL
DATABASE_NAME=ваш_database_name
DATABASE_USER=ваш_database_user
DATABASE_PASSWORD=ваш_database_password
DATABASE_HOST=localhost  # или IP-адрес вашего сервера базы данных
DATABASE_PORT=5432  # или другой порт, если используется не стандартный

# Логин и пароль для подключения к почте
EMAIL_HOST_USER='ваша_почта'
EMAIL_HOST_PASSWORD='ваш_пароль'

# Инициализируйте Stripe с вашим API ключом
STRIPE_SECRET_KEY = 'ваш_секретный_ключ'

# Настройка Redis через переменные окружения
REDIS_URL=redis://localhost:6379/0  # по умолчанию
# URL-адрес брокера результатов, также Redis
CELERY_RESULT_BACKEND = 'redis://localhost:6379' # по умолчанию

# Токен бота и chat_id
TELEGRAM_BOT_TOKEN=ваш_токен_бота
TELEGRAM_CHAT_ID=ваш_chat_id
